name: madsci_example_lab

# * Usage Notes:
# 1. Environment variables can be set in a `.env` file or directly in the shell.
# 2. The `REPO_PATH` variable should point to the root of the repository.
# 3. The `example_lab` directory should contain the lab definition and module files.
# 4. The `madsci` image is built from the Dockerfile in the current directory.
# 5. The `madsci_dashboard` image is built from the Dockerfile.dashboard in the current directory.
# 6. Services are configured to use the host network mode to simplify port configuration. Production deployments may require a different network configuration.
# 7. Services are configured to restart unless stopped manually.
# 8. The container images are built with the latest tag and a dev tag for development purposes.


# * Common configuration
x-madsci-service: &madsci-service
  image: ghcr.io/ad-sdl/madsci:latest
  build:
    context: .
    dockerfile: Dockerfile
    tags:
      - ghcr.io/ad-sdl/madsci:latest
      - ghcr.io/ad-sdl/madsci:dev
  environment:
    - USER_ID=${USER_ID:-1000}
    - GROUP_ID=${GROUP_ID:-1000}
  network_mode: host
  env_file:
    - example_lab/.env # Load environment variables from the example_lab directory
    - .env # Optional: Load environment variables from a .env file
  volumes:
    - ${REPO_PATH:-.}/example_lab:/home/madsci/example_lab
    - ${REPO_PATH:-.}/.madsci:/home/madsci/.madsci
    - ${REPO_PATH:-.}/src:/home/madsci/MADSci/src
  restart: unless-stopped
  working_dir: /home/madsci/example_lab

services:
  madsci_mongodb:
    container_name: madsci_mongodb
    image: mongo:8.0
    restart: unless-stopped
    ports:
      - ${MONGODB_PORT:-27017}:27017
    volumes:
      - ${REPO_PATH:-.}/.madsci/mongodb:/data/db
  madsci_redis:
    container_name: madsci_redis
    image: redis:7.4
    restart: unless-stopped
    ports:
      - ${REDIS_PORT:-6379}:6379
    volumes:
      - ${REPO_PATH:-.}/.madsci/redis:/data
    command: redis-server --appendonly yes --save 900 1 --save 300 10 --save 60 10000
  madsci_postgres:
    container_name: madsci_postgres
    image: postgres:17
    restart: unless-stopped
    environment:
      - POSTGRES_USER=madsci
      - POSTGRES_PASSWORD=madsci
      - POSTGRES_DB=resources
    ports:
      - ${POSTGRES_PORT:-5432}:5432
    volumes:
      - ${REPO_PATH:-.}/.madsci/postgresql/data:/var/lib/postgresql/data
  madsci_minio:
    container_name: madsci_minio
    image: minio/minio
    restart: unless-stopped
    environment:
      - MINIO_ROOT_USER=minioadmin
      - MINIO_ROOT_PASSWORD=minioadmin
    ports:
      - ${MINIO_PORT:-9000}:9000
      - ${MINIO_CONSOLE_PORT:-9001}:9001
    volumes:
      - ${REPO_PATH:-.}/.madsci/minio:/home/madsci/.madsci/minio
    command: server /home/madsci/.madsci/minio --console-address ":9001"

  # *Managers

  lab_manager:
    <<: *madsci-service
    container_name: lab_manager
    image: ghcr.io/ad-sdl/madsci_dashboard:latest
    build:
      context: .
      dockerfile: Dockerfile.dashboard
      tags:
        - ghcr.io/ad-sdl/madsci_dashboard:latest
        - ghcr.io/ad-sdl/madsci_dashboard:dev
    command: python -m madsci.squid.lab_server
    healthcheck:
      test: ["CMD", "curl", "-f", "${LAB_SERVER_URL:-http://localhost:8000}/health", "||", "exit", "1"]
      interval: 30s
      timeout: 3s
      retries: 3
      start_period: 40s
    depends_on:
      - event_manager

  event_manager:
    <<: *madsci-service
    container_name: event_manager
    command: python -m madsci.event_manager.event_server
    depends_on:
        - madsci_mongodb

  experiment_manager:
    <<: *madsci-service
    container_name: experiment_manager
    command: python -m madsci.experiment_manager.experiment_server
    depends_on:
      - madsci_mongodb
      - lab_manager

  resource_manager:
    <<: *madsci-service
    container_name: resource_manager
    command: python -m madsci.resource_manager.resource_server
    depends_on:
      - madsci_postgres
      - event_manager

  data_manager:
    <<: *madsci-service
    container_name: data_manager
    command: python -m madsci.data_manager.data_server
    depends_on:
      - madsci_mongodb
      - event_manager

  location_manager:
    <<: *madsci-service
    container_name: location_manager
    command: python -m madsci.location_manager.location_server
    depends_on:
      - madsci_redis
      - event_manager
      - resource_manager

  workcell_manager:
    <<: *madsci-service
    container_name: workcell_manager
    command: python -m madsci.workcell_manager.workcell_server --cold_start_delay 0
    depends_on:
      - madsci_redis
      - madsci_mongodb
      - resource_manager
      - event_manager
      - location_manager


   # *Nodes
  liquidhandler_1:
    <<: *madsci-service
    container_name: liquidhandler_1
    environment:
      - NODE_DEFINITION=node_definitions/liquidhandler_1.node.yaml
      - NODE_URL=http://localhost:2000
    command: python example_modules/liquidhandler.py

  liquidhandler_2:
    <<: *madsci-service
    container_name: liquidhandler_2
    environment:
      - NODE_DEFINITION=node_definitions/liquidhandler_2.node.yaml
      - NODE_URL=http://localhost:2001
    command: python example_modules/liquidhandler.py

  robotarm_1:
    <<: *madsci-service
    container_name: robotarm_1
    environment:
      - NODE_DEFINITION=node_definitions/robotarm_1.node.yaml
      - NODE_URL=http://localhost:2002
    command: python example_modules/robotarm.py

  platereader_1:
    <<: *madsci-service
    container_name: platereader_1
    environment:
      - NODE_DEFINITION=node_definitions/platereader_1.node.yaml
      - NODE_URL=http://localhost:2003
    command: python example_modules/platereader.py

  advanced_example_node:
    <<: *madsci-service
    container_name: advanced_example_node
    environment:
      - NODE_DEFINITION=node_definitions/advanced_example_node.node.yaml
      - NODE_URL=http://localhost:2004
    command: python example_modules/advanced_example_module.py
