name: Pre-Commit Checks

on:
  pull_request:
  push:
    branches: [main]
    tags: [ '*' ]
  schedule: # Run on Tuesday's at 12:00
    - cron: '0 12 * * 2'
  workflow_dispatch: # Run manually

jobs:
  pre-commit:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
      name: Checkout code
    - name: Setup PDM
      uses: pdm-project/setup-pdm@v3
      with:
        python-version: 3.9
    - name: Install dependencies
      run: pdm install
    - uses: pre-commit/action@v3.0.1
      name: Run Pre-Commit Checks
